#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.main-container {
  padding-bottom: 24px;
}

.header-container {
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  display: block;
  opacity: 0.8;
}

.image-header {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.header-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  flex: 1
}

.image-container {
  flex: 1;
  aspect-ratio: 0.67;
  background: linear-gradient(to bottom, transparent 90%, rgba(244,243,243));
  position: relative;
}

.image-container::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 230px; 
  background-image: linear-gradient(to top, rgba(244,243,243, 1) 0%, rgba(244,243,243, 0.8) 58%, rgba(244,243,243, 0.6) 76%, rgba(244,243,243, 0) 100%);
}

.name-letter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 250px;
  width: 100%;
}

.letter-a {
  font-family: Cinzel Decorative;
  font-weight: 400;
  font-size: 125px;
  color: #a5918b;
  margin: 8px 0px
}

.letter-t {
  font-family: Cinzel Decorative;
  font-weight: 400;
  font-size: 125px;  
  color: #a5918b;
  margin: 8px 0px;
  padding-top: 40px;
}

@media (max-width: 767px) {
  .header-info {
    position: absolute;
    bottom: 0;
  }
  .letter-a {
    color: white;
  }
  .letter-t {
    color: white;
  }
}

.heder-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.heder-text {
  font-family: Allura;
  font-weight: 400;
  color: #a5918b;
  font-size: 35px;
  margin: 0;
}

.heder-title {
  font-weight: 300;
  color: #a5918b;
  font-size: 16px;
  margin: 8px 0px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
   .header-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 0 8px;
   }
}

.countdown-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 40px;
}

.countdown-title {
  font-weight: 300;
  color: #a5918b;
  font-size: 20px;
  margin: 8px 0px;
}

.single-countdown-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.single-countdown-item-1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.number-countdown {
  color: #a5918b;
  font-size: 26px;
  font-weight: 300;
}

.title-countdown {
  color: #a5918b;
  font-size: 10px;
  font-weight: 300;
}  

.single-countdown-item ::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -16px;
    width: 1px;
    opacity: 0.3;
    background-color: #979797;
}

.invitation-content-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  overflow: hidden;
}

.invitation-text-container {
  padding: 8px;
  max-width: 620px;
}

.invitation-title {
  font-weight: 300;
  color: #a5918b;
  font-size: 23px;
  text-transform: uppercase;
  margin: 8px 0;
}

.invitation-text {
  font-weight: 300;
  color: #a5918b;
  font-size: 14px;
  margin: 8px 0;
}

.invitation-date {
  font-weight: 300;
  color: #a5918b;
  font-size: 31px;
  letter-spacing: 1;
  margin: 8px 0;
}

.invitation-image-container {
  max-width: 620px;
  display: flex;
  margin: auto;
  align-items: start;
}

.invitation-image-1 {
  opacity: 0;
  transform: translate3d(-100%, -100%, 0);
  background-color: rgba(244,243,243, 1);
}

.invitation-image-2 {
  margin-top: 50px;
  margin-left: -25px;
  transform: translate3d(100%, -100%, 0);
  opacity: 0;
  background-color: rgba(244,243,243, 1);
}

@media (min-width: 768px) {
  .invitation-content-container {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    align-items: center;
  }
}

.project-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 16px;
  overflow: hidden;
}

.project-header-title {
  font-weight: 500;
  color: #a5918b;
  font-size: 32px;
  letter-spacing: 1;
  margin: 8px 0;
}

.project-first-image-container {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  position: relative;
  align-items: start;
}

.project-image-1 {
  margin-top: 70px;
  margin-right: -25px;
  background-color: rgba(244,243,243, 1);
}

.project-image-2 {
  margin-right: -20px;
  background-color: rgba(244,243,243, 1);
}

.project-image-3 {
  margin-top: 150px;
  margin-right: -25px;
  background-color: rgba(244,243,243, 1);
}


@media (min-width: 768px) {
  .project-image-1 {
    margin-top: 0;
    margin-right: -20px;
    z-index: 1;
    width: 180px;
    height: 270px;
  }
  
  .project-image-2 {
    width: 330px;
    height: 500px;
  }
  
  .project-image-3 {
    margin-top: 0;
    margin-right: 0;
    width: 180px;
    height: 270px;
  }

  .project-first-image-container {
    align-items: center;
  }
  
}

.project-header-title-box  {
  position: relative;
}

.project-header-title-box ::after {
  content: "";
  position: absolute;
  top: 80px;
  bottom: -100px;
  left: 50%;
  width: 2px;
  background-color: #979797;
}

.wedding-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  margin-top: 80px;
}

.party-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 80px;
  position: relative;
}

.wedding-section ::after {
  content: "";
  position: absolute;
  top: 320px;
  bottom: -95px;
  left: 50%;
  width: 2px;
  background-color: #979797;
}

.party-section ::before {
  content: "";
  position: absolute;
  top: -95px;
  bottom: 320px;
  left: 50%;
  width: 2px;
  background-color: #979797;
}

@media (max-width: 526px) { 
  .party-section ::before {
    content: "";
    position: absolute;
    top: -95px;
    bottom: 345px;
    left: 50%;
    width: 2px;
    background-color: #979797;
  }
}

@media (max-width: 410px) { 
  .party-section ::before {
    content: "";
    position: absolute;
    top: -95px;
    bottom: 385px;
    left: 50%;
    width: 2px;
    background-color: #979797;
  }
}

.wedding-section-image {
  width: 80px;
  height: 72px;
}

.wedding-section-title {
  font-weight: 300;
  color: #a5918b;
  font-size: 18px;
  margin: 0;
}

.wedding-section-time {
  font-weight: 700;
  color: #a5918b;
  font-size: 28px;
  margin: 0;
}

.wedding-section-church {
  font-weight: 700;
  color: #a5918b;
  font-size: 28px;
  margin: 0;
}

.wedding-section-village {
  font-weight: 700;
  color: #a5918b;
  font-size: 16px;
  margin: 0;
}

.accept-invitation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 40px;
  padding: 16px;
  overflow: hidden;
}

.accept-image-container {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  position: relative;
  max-width: 344px;
}

.radio-box {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}

.radio-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
}